#headerhome {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            font-size:20px;
       }
#headertable {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    font-size:20px;
}