<?xml version='1.0' encoding='utf-8'?>
<widget id="com.senthur.backupcontact" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Backup Contacts</name>
    <description>
        An application allowing users to access their contacts on various Android Devices
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>  
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.1.1" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-contacts" spec="~2.1.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <engine name="windows" spec="~4.3.2" />
	<plugin name="phonegap-plugin-mobile-accessibility" spec="https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <gap:plugin name="cordova-plugin-splashscreen" />
    <preference name="SplashScreen" value="screen" />
    <gap:splash src="platform/android/splash/res/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="platform/android/splash/res/drawable-Idpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="platform/android/splash/res/drawable-mdpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="platform/android/splash/res/drawable-hdpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="platform/android/splash/res/drawable-xxhdpi/screen.png" />
    <preference name="SplashScreenDelay" value="5000" />
    
    <icon src = "platform/android/icon/background/mipmap-ldpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "platform/android/icon/background/mipmap-mdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "platform/android/icon/background/mipmap-hdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "platform/android/icon/background/mipmap-xhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "platform/android/icon/background/mipmap-xxhddpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "platform/android/icon/background/mipmap-xxxhddpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxxhdpi" />
</widget>